
body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-color: #333333;
}

header{
  background-color: #4aaaa5;
}

#header-container{
    width:960px;
    margin-top: 0;
    height:auto;
    overflow:hidden;
    background-color: #ffffff;
}

#header-myname {
  height: 80px;
  width: 230px;
  float: left;
  background-color: #4aaaa5;
  color: #ffffff;
  margin-left: 40px;
}

#nav-container
{
  height: 80px;
  float: right;
}

#nav-container > ul 
{
  display: inline-block;
  padding-top: 15px;
  padding-right: 85px;
}

#nav-container > ul > li 
{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

#nav-container > ul > li > a 
{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sansâ€serif;
  color: #777777;
  text-decoration: none;
}

#header{
    margin:0;
    border:0 solid #cccccc;
    color:#4C6880;
    float:left;
    width:40%;
    overflow:hidden;
}

h1{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
  padding-left: 10px;
}

h2{
  font-size: 24px;
}

.main-section-container-index{
  width: 960px;
  height: 460px;
  background-color: #cccccc;
  padding: 40px;
  position: relative;
}

.main-section-container-portfolio{
  width: 960px;
  height: 1040px;
  background-color: #cccccc;
  padding: 40px;
  position: relative;
}

.main-section-container-contact{
  width: 960px;
  height: 550px;
  background-color: #cccccc;
  padding: 40px;
  position: relative;
}

#main-section-about-me{
  width: 650px;
  height: 410px;
  background-color: #ffffff;
  float: left;
}

#main-section-sidebar{
  float: right;
  width: 270px;
  background-color: #ffffff;
}

#main-section-sidebar  > h2 {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #cccccc;
}

#main-section-sidebar > hr {
  display: inline-block;
  list-style: none;
  height: 50px;
  width: 50px;
  position: relative;
}

#main-section-sidebar > ul > li  {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  padding-left: 10px;
}

#main-section-sidebar > ul > li a > img  {
  position: absolute;
  width: 100%;
  height: auto;
}

#main-bio > h1 {
    font-family: "Georgia",Times,Times New Roman,serif;
    color: #4AAAA5;
    padding-left: 20px;
}

.body-container{
  width: 960px;
  margin: 0 auto;
}


.header-container{
  width: 960px;
  margin: 0 auto;
}

.main-section-container{
  width: 960px;
  margin: 0 auto;
}

.footer-container{
  width: 960px;
  margin: 0 auto;
}

/* Make the "#bio-image" have a width of 200 pixels
Add margins to the image so there is distance between it and the bio text */
#bio-image{
  width: 200px;
  /* margin: top right bottom left; */
  margin: 0 15px 15px 0;
}

/* "#main-bio" should have a width of 70% */
#main-bio{
  width: 70%;
  padding-right: 30px;
  box-sizing: border-box;
}

/* "#content-info" should have a width of 30%
Adjust the line height so it is 1.5 times the size of the font */
#contact-info{
  width: 30%;
  line-height: 1.5em;
}

/* Make the link color #d21034 */
a{
  color: #d21034;
}

footer {
  width: 100%;
  height: 50px;
  clear: both;
  background-color: #666666;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-top: solid #4aaaa5;
}

footer {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}